.aboutbg{
    background-image: url(E:\githubb\grassd.in\src\Images\background.png);
    width: 100vw;
    height: 1400px;
    
}
.hrline2{
    border-top: 1px solid rgb(72, 100, 118);
    margin: 10px;
}

@media (max-width:600px) {
    .aboutbg{
        height: 2000px;
    }
}