.aboutbg{
    background-image: url(P:\GRASSD\grassd.in\frontend\src\Images\background.png);
    width: 100vw;
    height: 1400px;
    
}
.hrline2{
    border-top: 1px solid rgb(72, 100, 118);
    margin: 10px;
}