*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

  .carno{
    height: 25vh;
    width: auto;
  
   }
   .car{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
   }
   .booknow{
    height: 30px;
    width: 150px;
    background-color: #168c50;
    border: none;
    cursor: pointer;
   }
   .booknow:hover{
    background-color: #01562a;
   }
  
  
   @media (max-width:600px) {
    .carno{
      height: 20vh;
      width: auto;
    
     }
     .booknow{
      height: 25px;
      width: 70px;
      background-color: #168c50;
      border: none;
      cursor: pointer;
     }
     
   }
  