
  
  @media (max-width:600px){
    .shape1{
      gap: 30px;
    }
    .griditems1{
      width: 2%;
      height: 90vh;
      background-color: rgb(255, 217, 0);
      visibility: hidden;
    }
    .howto h3{
      font-size: 25px;
      color: black;
    }
    .hr{
      margin: 45px 0px 9px 0px;
    }
    .howto{
      height: 10vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    .shape2{
      gap: 30px;
    
    }
  }
  