.coupon{
    height: 400px;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: row;
}
.couponinner{
    height: 100%;
    width: 100%;
    background-color: #c4e0fa;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    overflow: hidden;
}
.coupon3{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.couponwithtext{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.getcoupon{
    font-size: 30px;
    color: #000;
}


@media (max-width:600px) {
    .coupon{
        height: 250px;
        width: 100vw;
    }
    .getcoupon{
        font-size:20px ;
    }
}