.footer{
    width: 100vw;
    height: 350px;
    background-color: #131820;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.part1{
    width: 25%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerlogo{
    height: 120px;
    width: auto;
}
.part2{
    width: 50%;
    height: 85%;
    background-color: transparent;
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    padding: 30px  30px 0px 90px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.part3{
    width: 25%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.part3 iframe{
    height: 50%;
    width: 60%;
}
.part3 address{
    padding-left: 30px;
}
.heading{
    height: 40px;
    width: 100%;
    background-color: #0a101b;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.map{
    height: 10vh;
    width: 100px;
}


@media (max-width:600px) {
    .footer{
        width: 100vw;
        height: 800px;
        background-color: #131820;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .part1{
        width: 100vw;
        height: 20%;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .part2{
        width: 100vw;
        height: 60%;
        background-color: transparent;
        padding: 30px  30px 0px 90px;
        display: flex;
        flex-direction: column;
          

    }
    .part3{
        width: 100vw;
        height: 30%;
        background-color: transparent;
        
    }
    .part3 iframe{
        height: 30%;
        width: 40%;
    }
    .part3 address{
        padding-left: 30px;
        font-size: 0.5rem;
    }
    .footerlogo{
        height: 50px;
        width: auto;
    }
    
}