.maincar{
  background-image: url(E:\githubb\grassd.in\src\Images\maincarimage.png);
  width: 100vw;
  height: 950px;
  display: flex;
  flex-direction: column;
  
}


.top{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    
    
}

.topmainleft{
    height: 470px;
    width: 50vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 190px 0px 0px 100px;
    flex-direction: column;

}
.live{
  font-size: 50px;
}
.passion{
  font-size: 145px;
  font-family: 'Bruno Ace SC', sans-serif;
}
.topmainright{
  height: 470px;
  width: 50vw;
  background-color: transparent;
}

.buttom{
  height: 10vh;
  width: 100vw;
  
  display: flex;
  flex-direction: row;
  
}
.buttommainleft{
  height: 470px;
  width: 50vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.buttommainright{
  height: 470px;
  width: 50vw;
  background-color: transparent;

}
.searchinput{
  height: 3.5vh;
  width: 30vw;
  color: black;
  padding-left: 20px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.searchbutton{
  height: 3.5vh;
  width: 7vw;
  background-color: #7bb5fb;
  border: none;
}
.searchbutton:hover{
  background-color: #00cc00;
  color: rgb(0, 0, 0);
}




@media (max-width:600px) {
.live{
  font-size: 20px;
}
.passion{
  font-size: 50px;
  font-family: 'Bruno Ace SC', sans-serif;
}
.topmainleft{
  height: 400px;
  width: 50vw;
  background-color: transparent;
  display: flex;
  justify-content: left;
  padding: 100px 0px 0px 50px;
  flex-direction: column;

}
.maincar{
background-image:none;
width: 100vw;
height: 410px;
background-color: #131313;
display: flex;
flex-direction: column;

}
/* .top,.buttom,.buttommainleft,.buttomainright{
  border: 1px solid red;
} */
.top{
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.buttom{
  height: 35vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  
}
.searchinput{
  height: 3.5vh;
  width: 90vw;
  color: black;
  padding-left: 20px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.searchbutton{
  height: 3.5vh;
  width: 20vw;
  background-color: #0066cc;
  border: none;
}
.buttommainleft{
  height: 200px;
  width: 100vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.buttommainright{
  height: 40px;
  width: 0vw;
  background-color: transparent;

}
.topmainright{
  height: 400px;
  width: 50vw;
  background-color: transparent;
}
}