.maincar{
    background-image: url(P:\GRASSD\grassd.in\frontend\src\Images\maincarimage.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  .top{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }
  .buttom{
    height: 70vh;
    width: 100vw;
  }
  .mainleft{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 150px;
    
  }
  .top .mainleft{
     justify-content: center;
  }
  .live{
    font-size: 60px;
  }
  .passion{
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 145px;
  }
  .mainright{
    width: 50vw;
    height: 50vh;
  }
  .searchinput{
    height: 3vh;
    width: 25vw;
    color: black;
    background-color: rgb(246, 236, 236);
  }
  .searchbutton{
    height: 4vh;
    width: 7vw;
    background-color: #0066cc;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }
  .searchbutton:hover{
    background-color: #00cc0e;
    color: black;
  }
  .searchbutton,.searchinput{
    margin: 20px;
  }
  
  
  @media (max-width:600px) {
    .maincar{
      background-image: none;
      background-size: cover;
      height: 50vh;
      width: 100vw;
      background-color: #131313;
    }
    .top{
      height: 10vh;
      width: 100vw;
      visibility: hidden;
    }
    .searchinput{
      height: 4vh;
      width: 66vw;
      color: black;
      background-color: rgb(246, 236, 236);
    }
    .mainleft{
      width: 5%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: left;
      padding-left: 35px;
      
    }
    .searchbutton{
      height: 4vh;
      width: 25vw;
      background-color: #0066cc;
      color: rgb(255, 255, 255);
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
    }
    .items:hover{
      background-color: rgb(255, 255, 255);
    }
  }
  
  .background{
    background-image: url(P:\GRASSD\grassd.in\frontend\src\Images\background.png);
  }
  