.videomain{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.videomain{
    height: 500px;
    width: 50vw;
    position: absolute;
    top: 15vh;
    right: 20%;


}
.closeicon{
    height: 40px;
    width: auto;
    background-color: transparent;

}
.icon{
    height: 50px;
    width: 10vw;
    position: absolute;
    top: 25vh;
    right: 25%;
    cursor: pointer;
}
.pos{
    position: absolute;
}

@media (max-width:600px) {
    .videomain{
        height: 160px;
        width: 70vw;
        position: absolute;
        top: 8vh;
        right: 9%;
    
    
    }
    .icon{
        height: 26px;
        width: 10vw;
        position: absolute;
        top: 14vh;
        right: 10%;
        cursor: pointer;
    }
}